@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: #555;
}
.wrapper{
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    background-color: #fff;
}
.page-head{
    height: 50px;
    background-color: #5882c0;
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
}
.logo{
    height: 100%;
    /* width: 110px; */
    border: 1px solid red;
    display: flex;
    font-family: "open sans",sans-serif;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    z-index: 10;
}
.logo-left{
    color: #fff;
    /* width: 122px; */
    overflow: hidden;
    background-color: #5882c0;
    height: 100%;

}
.logo-right{
    color:#5882c0 ;
    background-color: #fff;
    /* position: relative; */
    left: -9px;
    z-index:-1 ;
}
.navigation{
    height: 100%;
    /* width: 230px; */
    display: flex;
    font-family: "open sans",sans-serif;
}
.nav-item{
color: #ffff;
text-decoration: none;
align-items: center;
display: flex;
padding: 8px;
text-transform: capitalize;

}
.nav-item:hover{
    background-color: #71a5e0;
}
.hero{
    background-color: #b5e3f2;
    background-image: url();
    height: 457px;
    margin: 20px 78px;
}